.landing-page {
  background-image: url('../img/photos/wurfelticktack-box.jpg');
  background-repeat: no-repeat;
  background-position: -5em 2em;
  background-size: cover;
  color: $pale-black;

  @include for-size(phone-only) {
    background-position: 60% 85%;
    background-size: 160%;
  }
}
.landing-page nav a {
  color: $black;
  &:hover { color: $black; }
}

.dice-title {
  position: relative;
  display: inline-block;
  width: 14em;
  height: 3.3em;
  background-image: url('../img/wurfelticktack-logo.svg');
  background-repeat: no-repeat;

  @include for-size(phone-only) {
    width: 10em;
    height: 2.357em;
  }
}
.dice-title:after {
  transition: opacity .5s ease-in-out;
  content: '';
  position: absolute;
  left: 0;
  bottom: 12px;
  width: 100%;
  height: 1px;
  background-color: $gold;
}
.dice-title:hover:after { opacity: 0; }

.dice-intro {
  font-size: 18px;
  line-height: 32px;
  max-width: 500px;
  color: $pale-black;
}

button,
a {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: .7rem;
  line-height: 1rem;
  cursor: pointer;
}

button {
  margin-top: 1.5em; 
  height: 40px;
  padding: 0 30px;
  color: $gold;
  border: 2px solid $pale-black;
  background-color: transparent;
}
button:focus { outline: 1px solid $gold; }

.cta span a { color: $gold; text-decoration: none; }
.cta:hover span a { color: $black; }

.cta span {
  transition: all .3s;
  will-change: transform;
  display: inline-block;
  position: relative;
}

.cta:not(.nav-active):hover span { transform: translateX(-4px); }
.cta:not(.nav-active):hover { color: $black; }
.cta:not(.nav-active):hover:after {
  content: '→';
  position: absolute;
  font-size: 1.2em;
  line-height: 1.1em;
}

a.cta:not(.nav-active):hover:after { margin-top: .3em; }