.landing-page {
  background-image: url('../img/photos/wurfelticktack-box.jpg');
  background-repeat: no-repeat;
  background-position: -5em 2em;
  background-size: cover;
  color: $pale-black;

  @include for-size(phone-only) {
    background-position: 65% 85%;
    background-size: 130%;
  }
}
.landing-page nav a {
  color: $black;
  &:hover { color: $black; }
}

.dice-title {
  position: relative;
  display: inline-block;
  width: 14em;
  height: 3.3em;
  background-image: url('../img/wurfelticktack-logo.svg');
  background-repeat: no-repeat;

  @include for-size(phone-only) {
    width: 8em;
    height: 2.1em;
    margin-bottom: 0;
  }
}
.dice-title-centered {
  display: block;
  margin: 0 auto;
}
.dice-title-bigger {
  @include for-size(phone-only) {
    transform: scale(1.6);
    transform-origin: 0 0;
  }
}
.dice-title:after {
  transition: opacity .5s ease-in-out;
  content: '';
  position: absolute;
  left: 0;
  bottom: .45em;
  width: 100%;
  height: 1px;
  background-color: $gold;
}
.dice-title:hover:after { opacity: 0; }

.dice-intro {
  font-size: 18px;
  line-height: 32px;
  max-width: 500px;
  color: $pale-black;
}

button,
a {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: .7rem;
  line-height: 1rem;
  cursor: pointer;
}

.cta {
  margin-top: 1.5em; 
  height: 40px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: $gold;
  text-decoration: none;

  &.cta-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid $pale-black;
    background-color: rgba(255, 255, 255, .75);
  }

  &:hover { color: $black; }
  &:focus { outline: 1px solid $gold; }
}

.cta span {
  transition: all .3s;
  will-change: transform;
  display: inline-block;
  position: relative;
}

.cta:not(.nav-active):not(.cta-disabled):hover span { transform: translateX(-4px); }
.cta:not(.nav-active):hover { color: $black; }
.cta:not(.nav-active):not(.cta-disabled):hover:after {
  content: '→';
  position: absolute;
  font-size: 1.2em;
  line-height: 1.2em;
}

// part of instructions page
.cta-centered {
  margin: 1.5em auto 0 auto;
  display: inline-block;
  width: 100%;
  text-align: center;
}

// diabled form
.cta-disabled span,
.cta-disabled span:hover {
  color: $grey;
}

a.cta:not(.nav-active):hover:after { margin-top: .3em; }