.purchase-form {
  width: 30em;

  .text-label {
    display: inline-block;
    width: 14em;
    margin: 0 1em .5em 0;
    vertical-align: middle;
    text-align: right;
  }

  .delivery-option-wrapper,
  .form-price,
  .text-input {
    display: inline-block;
    margin-bottom: .5em;
    padding: .5em .6em;
    vertical-align: middle;
  }

  .text-input {
    width: 16em;
    border: .1em solid #ccc;
    border-radius: .5em;
    box-shadow: inset 0 .1em .2em #ddd;
  }

  .delivery-option-wrapper,
  .form-price {
    padding-left: 0;
  }

  .delivery-option-wrapper { font-size: .7em; }

  .label-radio { padding-left: .3em; }

  .purchase-comment-label { vertical-align: top; }
  .purchase-comment {
    width: 20em;
    height: 5em;
  }

  @include for-size(phone-only) {
    width: auto;

    label,
    .text-input {
      display: block;
      width: 100%;
    }

    label {
      text-align: left;
      font-size: 1.6em;
    }

    .text-input {
      height: 3em;
      font-size: 1.25em;
    }
  }
}

.purchase-notice { text-align: center; }

.purchase-notice,
.purchase-help {
  font-size: .7em;
  color: $pale-black;

  @include for-size(phone-only) {
    font-size: 1em; 
  }
}

.purchase-notice + .purchase-notice { margin-top: -1.8em; }