{% include "includes/header.nunjucks" %}

<body class="landing-page">

{% include "includes/nav.nunjucks" %}

<section class="content">
  <h1 class="dice-title m-hide-text">WürfelTickTack</h1>
  <p class="dice-intro">
    „<strong>Würfelticktack</strong>“ is a didactic game used for practicing German language.
  </p>
  <a class="cta cta-btn" href="./purchase" title="Buy WürfelTickTack" target="_blank"><span>Buy now</span></a>
  <a class="cta cta-btn" href="./how-to-use" title="More about WürfelTickTack"><span>Tell me more…</span></a>
</section>

{% include "includes/footer.nunjucks" %}