.instructions { color: $pale-black; }
.instructions nav a {
  color: $pale-black;
  &:hover { color: lighten($pale-black, 10%); } 
}
.instructions footer { border-top: 1px solid $gold; }

.instructions-wrapper {
  max-width: 600px;
  margin: 5em auto;
}

.insutrctions-title {
  font-size: 3em;
  text-align: center;
  color: $black;
}

.opening-statement {
  margin-bottom: 1.6rem;
  font-size: 1.2rem;
  line-height: 1.4em;
  color: $black;
}

h6 {
  margin: 2.3rem auto .8rem auto;
  line-height: 1rem;
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
}

h2 {
  margin-top: 4rem;
  margin-bottom: .8rem;
}

h3 {
  margin-top: 2.6rem;
  margin-bottom: .6rem; 
}

.internal-link {
  display: block;
  margin-top: -95px;
  padding-bottom: 95px;
}

li { margin-bottom: .657rem; }
li ol { margin-top: .5rem; }

ol ul {
  margin-top: .7rem;
  margin-bottom: 1rem;
  padding-left: .5rem;
  list-style-type: none;
}

blockquote { margin: 1.6rem; }
blockquote p { font-style: italic; }